html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px;
}


.img-fluid{
  max-width: 200px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
       color: red !important;
       background-color: white;
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
}
.nav-link.active {
  color: #FFCA47 !important;
}

@media screen and (max-width: 350px){
  .img-fluid{
    max-width:200px;
  }
}

.t-index{
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-index{
  padding-top: 10px;
}

#Inicio {
  background-image: url(../Imagenes/F-Texture.jpg);
  background-repeat: repeat;

}

#Proyectos {
  background-image: url(../Imagenes/T-Texture.png);
  background-repeat: repeat;
}

.B-Proyectos {
  background-image: url(../Imagenes/T-Proyectos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }

.carousel-control-prev {
 background-color: rgba(0,0,0,0.1);
}

.carousel-control-next {
  background-color: rgba(0,0,0,0.1);
}

#foot {
  background-color: rgb(132, 175, 244);
}

#Copyright {
  background-color: rgb(61, 132, 247);
  color: white;
}

.links {
  color: white;
}

#Contacto {
  background-image: url(../Imagenes/B-Contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}